#postswrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.post {
    border: solid 2px #aaa;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.post > a {
    margin-top: auto;
}
