<app.titleUser></app.titleUser>

<div ng-controller="PostsCtrl">
    <div ng-if="selectedUser">
        <hr>
        <p>Dati dell'utente selezionato:</p>
        <ul>
            <li>Nome: {{selectedUser.name}}</li>
            <li>Email: {{selectedUser.email}}</li>
            <li>Città: {{selectedUser.address.city}}</li>
        </ul>
        <hr>

        <h2>Ecco i post di {{selectedUser.username}}:</h2>
        <div ng-if="postsError">
            <p>Errore durante il caricamento dei post dell'utente</p>
        </div>
        <div id="postswrap" ng-if="userPosts">
            <div class="post" ng-repeat="post in userPosts">
                <!--<h3><a href="#!/post/{{post.id}}">{{post.title}}</a></h3>-->
                <h3>{{post.title}}</h3>
                <div>{{post.body}}</div>
                <a href="#!/post/{{post.id}}">
                    <button type="button">Vai al post</button>
                </a>
            </div>
        </div>
    </div>
</div>s
