<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Primo progetto</title>
</head>
<body ng-app="myApp">

    <div ng-controller="View1Ctrl">
        <select ng-model="selectedUser" ng-change="onUserSelected()" ng-options="option.username for option in userDataJsonOptions"></select>
        <p ng-if="selectedUser">Ecco i post di: {{selectedUser.username}}.</p>
        <div ng-repeat="post in userPosts">
            <h3>{{post.title}}</h3>
            <div>{{post.body}}</div>
        </div>

    </div>
</body>
</html>
